.forms {
	padding: 4rem;
	background: #fff;
}

.shadow {
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);

	min-height: 200px;
	width: 50vw;
	margin: 100px auto;
	background: white;
	border-radius: 5px;
}

h1 {
	text-align: center;
	margin-bottom: 50px;
}

/* .forms__container {
	display: flex;
	flex-flow: column;
	align-items: center;
	max-width: 1120px;
	width: 90%;
	margin: 0 auto;
}

.forms__wrapper {
	position: relative;
	margin: 50px 0 45px;
} */

.submit__form {
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0 auto;
	max-width: 1120px;
	width: 90%;
	padding: 30px 50px;
}

input {
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	margin-bottom: 10px;
}

label {
	color: #3d3d3d;
	display: block;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 5px;
}

.select {
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	margin-bottom: 10px;
}

.error {
	color: red;
	font-family: sans-serif;
	font-size: 12px;
	height: 30px;
}

.submitButton {
	background-color: #18191b;
	color: white;
	font-family: sans-serif;
	font-size: 14px;
	margin: 20px 0px;
}

.cards__items {
	margin-bottom: 24px;
}

.cards__item {
	display: flex;
	flex: 1;
	margin: 0 1rem;
	border-radius: 10px;
}

.cards__item__link {
	display: flex;
	flex-flow: column;
	width: 100%;
	box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
	-webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
	filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
	border-radius: 10px;
	overflow: hidden;
	text-decoration: none;
}

.cards__item__info {
	padding: 20px 30px 30px;
}

.cards__item__text {
	color: #252e48;
	font-size: 18px;
	line-height: 24px;
}

@media only screen and (min-width: 1200px) {
	.content__blog__container {
		width: 84%;
	}
}

@media only screen and (min-width: 1024px) {
	.cards__items {
		display: flex;
	}
}

@media only screen and (max-width: 1024px) {
	.cards__item {
		margin-bottom: 2rem;
	}
}
