.copy {
	padding: 4rem;
	background: #fff;
}

h1 {
	text-align: center;
}

.text__container {
	/* display: flex;
	flex-flow: column; */
	align-items: center;
	max-width: 1120px;
	width: 90%;
	margin: 0 auto;
}

.text__wrapper {
	position: relative;
	margin: 50px 0 45px;
}

.text__row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.text__card {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	margin-bottom: 2rem;
}

.services__lg__text {
	color: #252e48;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
}

.services__text {
	color: #252e48;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
}

@media screen and (min-width: 960px) {
	.text__card {
		flex: 1;
	}
}

/* @media screen and (min-width: 768px) {
	.services__lg__text {
		color: #252e48;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
	}

	.services__text {
		color: #252e48;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
	}
} */
