.copy {
	padding: 4rem;
	background: #fff;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	margin-bottom: 1rem;
}

.text__container {
	/* display: flex;
	flex-flow: column; */
	align-items: center;
	max-width: 1120px;
	width: 90%;
	margin: 0 auto;
}

.text__wrapper {
	position: relative;
	margin: 50px 0 45px;
}

.text__row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.text__card {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	margin-bottom: 2rem;
}

.shadow {
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);

	min-height: 200px;
	width: 50vw;
	margin: 100px auto;
	background: white;
	border-radius: 5px;
}

.services__lg__text {
	color: #252e48;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
}

.services__text {
	color: #252e48;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
}

@media screen and (min-width: 960px) {
	.text__card {
		flex: 1;
	}
}

/* @media screen and (min-width: 768px) {
	.services__lg__text {
		color: #252e48;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
	}

	.services__text {
		color: #252e48;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
	}
} */
